<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bearbrest</title>
    <link rel="icon" type="image/x-icon" href="https://pbs.twimg.com/profile_images/1807459953114013696/kygBDUif_400x400.jpg">
    <script>
        function triggerAction() {
            const inputText1 = document.getElementById('inputField1').value;
            const inputText2 = document.getElementById('inputField2').value;
            fetch('/trigger_action', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ input_text1: inputText1, input_text2: inputText2 })
            })
            .then(response => response.json())
            .then(data => {
                alert('Post submitted successfully!');
                console.log(data.status);
                console.log(`Input text1 from server: ${data.input_text1}`);
                console.log(`Input text2 from server: ${data.input_text2}`);
                // Display the image on the webpage
                const image = document.createElement('img');
                image.src = data.input_text2;
                image.alt = data.input_text1;
                image.style.maxWidth = '100%';
                image.style.marginTop = '10px';
                const imageContainer = document.getElementById('imageContainer');
                imageContainer.innerHTML = ''; // Clear previous image if any
                imageContainer.appendChild(image);
            });
        }
    </script>
</head>
<body>
    <h1>Welcome, bearbrest.</h1>
    <input type="text" id="inputField1" placeholder="Title">
    <input type="text" id="inputField2" placeholder="Content">
    <button onclick="triggerAction()">Submit</button>
    <div id="imageContainer"></div>
</body>
</html>
